
/* Your CSS Code here. */
.holder{
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.a{
	background-color: green;
	padding:12px;
	width:60px;
	height:50px;
	font-size:30px;
	font-weight:100px;
	text-align:left;
}
#b{

background-color: red;
}
#c{

background-color: blue;
display: inline-block;
	position:absolute;
	bottom:533px;

	
}